$plex: 'IBM Plex Sans', sans-serif;
$lato: 'Lato', sans-serif;

$text_color: #000A19;
$dark_blue: #2E3440;
$white: #fff;

$primary: #2E3440;
$primary-variant: #4C566A;
$secondary: #BF616A;
$secondary-variant: #D08770;
$dark: #001B42;
$dark-variant: #003580;
$black: #000A19;
$grey: #5E636B;
$light-grey: #C5C7C9;

$red: #BF616A;
$orange: #D08770;
$yellow: #EBCB8B;
$la-rioja: #A3BE8C;
$forest-green: #077F23;
$pelorous: #2BA3B2;
$daisy-bush: #502AA0;
$vivid-violet: #8229A0;
$mulberry: #C54B8C;
$korma: #804E2C;
$buttercup: #DA9429;
$white-smoke: #F2F2F2;

/* reset */
$main-color: $white;
$secondary-color: $dark_blue;
$base-font-size: 14px;
$base-font-family: $plex;
$custom-font-family: $plex;
$link-color: $black;

//text, titles
$text-color: $black;
$title-color: $dark_blue;
